* {
    font-family: 'Roboto', sans-serif;
}

.card {
    width: 800px;
    background-color: pink;
    margin:auto auto;
    padding: 20px;
    border:2px solid darkred;
    box-shadow: 4px 4px rgb(195, 86, 232);
}

#title {
   
    text-align: center;
    text-shadow: 2px 2px rgb(195, 86, 232);
    background-color: #b699c7;
    border-radius: 10px;
    box-shadow: 2px 2px rgb(195, 86, 232);
    

}

#title-photo {
    display: block;
    margin: 0 auto;
    box-shadow: 2px 2px rgb(195, 86, 232);
    border-radius: 10px;
}

.info {
    font-size: 22px;
    font-weight: bold;
    margin: 20px auto;
    text-align: center;
    padding: 10px;
}

.detail {
    margin: 10px auto;
    
    text-align: center;
    padding: 5px;
    font-size: 16px;
    font-weight: lighter;
}

#recipe-title {
    text-align: center;
    text-shadow: 2px 2px rgb(195, 86, 232);
    background-color: #b699c7;
    border-radius: 10px;
    box-shadow: 4px 4px rgb(195, 86, 232);
}

.maggie-image {
    display: block;
    margin: 0 auto;
    box-shadow: 4px 4px rgb(195, 86, 232);
    border-radius: 10px;
    width: 350px;
}

.subs {
    font-size: 22px;
}

#link {
    display: block;
    text-align: center;
}

.ingr li {
    margin: 8px;
}

.steps li {
    margin: 5px;
}
